<div class="tencent-login-wrap">
  {{#if (eq view "login")}}
    <h2>登录</h2>
    <div class="login-options">
      <button class="btn btn-primary" {{on "click" this.showSmsLogin}}>
        <span class="d-icon d-icon-mobile-alt"></span>
        短信登录
      </button>
      <button class="btn btn-primary" {{on "click" this.showPasswordLogin}}>
        <span class="d-icon d-icon-lock"></span>
        密码登录
      </button>
    </div>
    <div class="login-footer">
      <a href="#" {{on "click" this.showResetRequest}}>忘记密码？</a>
      <span>新用户？<a href="/signup">注册</a></span>
    </div>
  {{/if}}

  {{#if (eq view "sms")}}
    <h2>短信登录</h2>
    <div class="field">
      <input 
        type="tel" 
        placeholder="请输入手机号" 
        value={{this.phone}} 
        {{on "input" (fn (mut this.phone) value="target.value")}} 
      />
    </div>

    {{#if this.sent}}
      <div class="field">
        <input 
          type="text" 
          maxlength="6" 
          placeholder="短信验证码" 
          value={{this.code}} 
          {{on "input" (fn (mut this.code) value="target.value")}} 
        />
        {{#if this.countdown}}
          <span class="countdown">{{this.countdown}}秒后重发</span>
        {{else}}
          <button class="btn-resend" {{on "click" this.sendCode}}>重发验证码</button>
        {{/if}}
      </div>
      <button class="btn btn-primary" disabled={{this.verifying}} {{on "click" this.login}}>
        {{#if this.verifying}}登录中...{{else}}登录 / 注册{{/if}}
      </button>
      <div class="agreement">
        <input type="checkbox" id="agreement" checked />
        <label for="agreement">同意并愿意遵守隐私政策和使用条款</label>
      </div>
    {{else}}
      <button class="btn btn-primary" disabled={{this.sending}} {{on "click" this.sendCode}}>
        {{#if this.sending}}发送中...{{else}}获取验证码{{/if}}
      </button>
    {{/if}}

    <div class="login-footer">
      <a href="#" {{on "click" this.showPasswordLogin}}>使用密码登录</a>
      <a href="#" {{on "click" this.contactSupport}}>联系客服</a>
    </div>
  {{/if}}

  {{#if (eq view "password")}}
    <h2>密码登录</h2>
    <div class="field">
      <input 
        type="text" 
        placeholder="手机号/用户名" 
        value={{this.phone}} 
        {{on "input" (fn (mut this.phone) value="target.value")}} 
      />
    </div>
    <div class="field">
      <input 
        type="password" 
        placeholder="密码" 
        value={{this.password}} 
        {{on "input" (fn (mut this.password) value="target.value")}} 
      />
    </div>
    <div class="forgot-password">
      <a href="#" {{on "click" this.showResetRequest}}>忘记密码？</a>
    </div>
    <button class="btn btn-primary" disabled={{this.verifying}} {{on "click" this.passwordLogin}}>
      {{#if this.verifying}}登录中...{{else}}登录{{/if}}
    </button>
    <div class="login-footer">
      <a href="#" {{on "click" this.showSmsLogin}}>使用短信验证码登录</a>
      <span>新用户？<a href="/signup">注册</a></span>
    </div>
  {{/if}}

  {{#if (eq view "reset-request")}}
    <h2>重置密码</h2>
    <p class="reset-instruction">请输入已注册的手机号</p>
    <div class="field">
      <input 
        type="tel" 
        placeholder="手机号" 
        value={{this.resetPhone}} 
        {{on "input" (fn (mut this.resetPhone) value="target.value")}} 
      />
    </div>
    <button class="btn btn-primary" disabled={{this.resetSending}} {{on "click" this.sendResetCode}}>
      {{#if this.resetSending}}发送中...{{else}}下一步{{/if}}
    </button>
    <div class="login-footer">
      <a href="#" {{on "click" this.contactSupport}}>找回密码遇到问题？联系客服</a>
    </div>
  {{/if}}

  {{#if (eq view "reset-verify")}}
    <h2>重置密码</h2>
    <p class="reset-instruction">验证码已发送至 {{this.resetPhoneMasked}}</p>
    <div class="field">
      <input 
        type="text" 
        maxlength="6" 
        placeholder="短信验证码" 
        value={{this.resetCode}} 
        {{on "input" (fn (mut this.resetCode) value="target.value")}} 
      />
      {{#if this.countdown}}
        <span class="countdown">{{this.countdown}}秒后重发</span>
      {{else}}
        <button class="btn-resend" {{on "click" this.sendResetCode}}>重发验证码</button>
      {{/if}}
    </div>
    <button class="btn btn-primary" disabled={{this.verifying}} {{on "click" this.verifyResetCode}}>
      {{#if this.verifying}}验证中...{{else}}下一步{{/if}}
    </button>
    <div class="login-footer">
      <a href="#" {{on "click" this.contactSupport}}>找回密码遇到问题？联系客服</a>
    </div>
  {{/if}}

  {{#if (eq view "reset-password")}}
    <h2>重置密码</h2>
    <p class="reset-instruction">设置新密码</p>
    <div class="field">
      <input 
        type="password" 
        placeholder="新密码" 
        value={{this.newPassword}} 
        {{on "input" (fn (mut this.newPassword) value="target.value")}} 
      />
    </div>
    <div class="field">
      <input 
        type="password" 
        placeholder="确认新密码" 
        value={{this.confirmPassword}} 
        {{on "input" (fn (mut this.confirmPassword) value="target.value")}} 
      />
    </div>
    <button class="btn btn-primary" disabled={{this.verifying}} {{on "click" this.resetPassword}}>
      {{#if this.verifying}}重置中...{{else}}提交{{/if}}
    </button>
    <div class="login-footer">
      <a href="#" {{on "click" this.contactSupport}}>找回密码遇到问题？联系客服</a>
    </div>
  {{/if}}

  {{#if this.message}}
    <p class="tencent-hint">{{this.message}}</p>
  {{/if}}
</div>
